.page-header {
    font-weight: 700;
    font-size: 32px;
    /*background-color: #D9EAF7;*/
    text-align: left;
    padding: 5px;
    border-bottom: 3px #000000 solid;
}

.page-content {
    margin-top: 30px;
}

.posts-count {
    text-align: right;
}

.posts-table {
    width: 100%;
}

.posts-table th {
    padding: 20px;
    border-bottom: 1px #CCCCCC solid;
    font-weight: 700;
    text-align: center;
}

.posts-table td {
    padding: 20px;
    border-bottom: 1px #CCCCCC solid;
    text-align: center;
}

.post-header {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

.post-text {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.post-date {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}
