.page_header {
    font-weight: 700;
    font-size: 32px;
    /*background-color: #D9EAF7;*/
    text-align: left;
    padding: 5px;
    border-bottom: 3px #000000 solid;
}

.posts_count {
    text-align: right;
}

.posts_table {
    margin-top: 30px;
    width: 100%;
}

.posts_table th {
    padding: 10px;
    border-bottom: 2px #CCCCCC dashed;
    font-weight: 700;
    text-align: center;
}

.posts_table td {
    padding: 10px;
    border-bottom: 2px #CCCCCC dashed;
    text-align: center;
}

.post_header {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

.post_text {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.post_date {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}
