{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
    Все статьи
{% endblock title %}

{% block content %}
    <h1 class="page-header">Все статьи</h1>
    <div class="posts-count">Количество доступных статей: {{ posts|length }}</div>

    <div class="page-content">
    {% if posts %}
        <table class="posts-table">
        <col style="width: 50%;">
        <col style="width: 30%;">
        <col style="width: 20%;">
        <tr>
            <th>Название статьи или новости</th>
            <th>Начало текста</th>
            <th>Время публикации</th>
        </tr>

        {% for post in posts %}
            <tr>
                <td>
                    <a href="/news/{{ post.pk }}">{{ post.title|censor }}</a>
                </td>
                <td>{{ post.text|censor|truncatechars:20 }}</td>
                <td>{{ post.created_at|date:'d.m.Y' }}</td>
            </tr>
        {% endfor %}

        </table>
   {% else %}
        <h2>Свежих статей нет.</h2>
   {% endif %}
    </div>
{% endblock content %}
